#flutter related
flutter_mobile/.vscode

git remote add quizzbee 'git@github.com:akosijho/quizzbee.git'

2`19=908=-1`89git remote add origin https://github.com/akosijho/quizzbee.gitasdjasjdbaskhe=0
Mtyty


$.ajaxSetup({
	headers:{
	   'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
	}

})


<meta name="csrf-token" content="{{ csrf_token() }}">